.color-wheel-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }
  
  #inside-component {
    display: flex;                
    flex-direction: column;      
    align-items: center;        

    canvas {
      border-radius: 50%;
      cursor: crosshair;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    }
  
    h4 {
      margin-top: 10px;          
    }

    button {
        border: rgb(218, 218, 218) solid 1px;
        border-radius: 5px;
        padding: 5px;
        background: #fbb1bd; /* fallback */
        background: -webkit-linear-gradient(to right, #fbb1bd, #fdfd96, #c1f0c1, #b0e0e6, #add8e6, #e6ccf2); /* Safari */
        background: -o-linear-gradient(to right, #fbb1bd, #fdfd96, #c1f0c1, #b0e0e6, #add8e6, #e6ccf2); /* Opera */
        background: -moz-linear-gradient(to right, #fbb1bd, #fdfd96, #c1f0c1, #b0e0e6, #add8e6, #e6ccf2); /* Firefox */
        background: linear-gradient(to right, #fbb1bd, #fdfd96, #c1f0c1, #b0e0e6, #add8e6, #e6ccf2); /* Standard */
        color: #333;
        font-weight: bold;
      }
  }
  