<div class="color-wheel-container">
    <div id="inside-component">
        <h1>The Color Wheel</h1>
        <canvas #canvas (click)="onClick($event)"></canvas>
        <br/>
        <ng-container *ngIf="rgbResult && !isHexAsked">
            <h4>{{rgbResult}} <span><div id="color-display" [ngStyle]="{ 'background-color': rgbResult }"></div></span></h4>
            <button  (click)="toggleHex()">Convert to HEX</button>
        </ng-container>
        <ng-container *ngIf="isHexAsked">
            <h4>{{hexResult}} <span><div id="color-display" [ngStyle]="{ 'background-color': hexResult }"></div></span></h4>
            <button (click)="toggleHex()">Convert to RGB</button>
        </ng-container>
    </div>
</div>
