<div class="color-wheel-container">
    <div id="inside-component">
        <canvas #canvas (click)="onClick($event)"></canvas>
        <br/>
        <ng-container *ngIf="rgbResult && !isHexAsked">
            <h4>{{rgbResult}}</h4>
            <button  (click)="toggleHex()">Convert to HEX</button>
        </ng-container>
        <ng-container *ngIf="isHexAsked">
            <h4>{{hexResult}}</h4>
            <button (click)="toggleHex()">Convert to RGB</button>
        </ng-container>
    </div>
</div>
