.color-wheel-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 260px;
}
canvas {
    border-radius: 50%;
    cursor: crosshair;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  }
  